/* =Navigation */

.trs__nav {
    position: fixed;
    left: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right;
    z-index: 1;
    display: none;

    .trs__nav__link {
        display: block;
        line-height: 25px;
        position: relative;
        padding-left: 20px;
        color: $white;
        text-decoration: none;

        &:hover {

            .trs__nav__label {
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.trs__nav__list {
    margin: 0;
    padding: 0;
}

.trs__nav__list__item {
    width: auto;
    list-style: none;
}

.trs__nav__label {
    display: block;
    opacity: 0.5;
    visibility: hidden;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
    transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
}

.trs__nav__dot {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    border: 1px solid $white;

    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;

    .active & {
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.trs__scroll-hint {
    font-size: 30px;
    color: $white;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5px 15px;
    border: 3px $white solid;
    border-radius: 100%;
    @include tilli-bold;
    z-index: 2;
}


// Theme Toggle Switch
/* ========================================================================== */

.tr__themeswitch {
    width: 50px;
    padding: 3px;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    background: transparent;
    border: 2px solid $lara_highlight;

    .dark & {
        border: 2px solid $sam_highlight;
    }
}

.tr__themeswitch__toggle {
    width: 20px;
    height: 20px;
    background: $lara_highlight;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: relative;
    left: 0;
    -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    -moz-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    -ms-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    -o-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);


    .dark & {
        left: 20px;
        background: $sam_highlight;
    }
}


// Story Menu
/* ========================================================================== */

.tr__menubar {
    position: relative;
    top: 20px;
    width: 50px;
    float: right;
    right: 15px;
    z-index: 3;
    text-align: center;

    &.affix {
        position: fixed;
    }
}


.tr__menu {
    position: absolute;
    border: 2px solid $lara_highlight;
    width: 46px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
    overflow: hidden;
    top: 35px;
    right: 2px;

    .dark & {
        border: 2px solid $sam_highlight;
    }
}

.tr__menu--closed {
    height: 46px;
}

.tr__menu--open {
    height: 185px;
}

.tr__menu__btn {
    transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;

    &:hover {
        span {
            background: $lara_text;

            .dark & {
                background: $sam_text;
            }
        }
    }


    span {
        display: block;
        height: 4px;
        background: $lara_highlight;
        width: 30px;
        left: 6px;
        -webkit-transition: all .3s;
        transition: all .3s;
        position: absolute;

        &:nth-child(1) {
            top: 11px;

            .tr__menu--open & {
                top: 25px;
                -webkit-transform: rotateZ(45deg);
                transform: rotateZ(45deg);
            }
        }

        &:nth-child(2) {
            top: 20px;

            .tr__menu--open & {
                background: transparent;
            }
        }

        &:nth-child(3) {
            top: 29px;

            .tr__menu--open & {
                top: 25px;
                -webkit-transform: rotateZ(-45deg);
                transform: rotateZ(-45deg);
            }
        }

        .dark & {
            background-color: $sam_highlight;
        }
    }
}



.tr__menu__tools {
    top: 50px;
    position: relative;
    transition: 0.3s margin ease-in-out;
}


.tr__menu__tools--hidden {
    margin-top: 400px;
    z-index: -100;
}

.tr__menu__tools--visible {
    // margin-top: 22%;
    // z-index: 100;
}

.tr__menu__tools__link {
    color: $lara_highlight;
    font-size: 29px;
    background: transparent;
    border: 0;

    .dark & {
        color: $sam_highlight;

        &:hover,
        &:focus {
            color: $sam_text;
            outline: 0;
        }
    }

    &:hover,
    &:focus {
        color: $lara_text;
        outline: 0;
    }
}