$white: #ffffff;
$black: #000000;

$neogreen: #42DCA3;
$darkerneogreen: #1d9b6c;


$turq: #308C9B;
$turqdark: #19474d;
$orange: #EC9A46;
$anthrazit: #212121;
$dangerred: #d9534f;
$greyish: #7a959c;
$darkgreyish: #2c4950;



$c1:#232020;
$c2:#553739;
$c3:#955e42;
$c4:#6a7b76;
$c5:#748e54;