$white: #ffffff;
$black: #000000;

$neogreen: #42DCA3;
$darkerneogreen: #1d9b6c;


$turq: #308C9B;
$turqdark: #19474d;
$orange: #EC9A46;
$anthrazit: #212121;
$dangerred: #d9534f;
$greyish: #7a959c;
$darkgreyish: #2c4950;

$tutoblue: #4b5167;


$sam_darkblue: #111625;
$sam_darkviolet: #341931;
$sam_pink: #571B3C;
$sam_lightpink: #7A4A60;
$sam_paragray: #9e9e9e;
$darktheme_back: #324251;
$darktheme_headline: #e5a87a;
$darktheme_para: #fcd7b8;
$darktheme_highlight: #844636;
$lighttheme_back: #ebdac6;
$lighttheme_headline: #2b636a;
$lighttheme_para: #1e5357;
$lighttheme_highlight: #0f5569;



$lara_background: #ebdac6;
$lara_text: #111625;
$lara_quote: #324251;
$lara_highlight: #e5a87a;


$sam_background: #111625;
$sam_text: #ebdac6;
$sam_quote: #341931;
$sam_highlight: #7A4A60;

$theme_background: $lara_background;
$theme_text: $lara_text;
$theme_quote: $lara_quote;
$theme_highlight: $lara_highlight;