$white: #ffffff;
$black: #000000;

$neogreen: #42DCA3;
$darkerneogreen: #1d9b6c;


$turq: #308C9B;
$turqdark: #19474d;
$orange: #EC9A46;
$anthrazit: #212121;
$dangerred: #d9534f;
$greyish: #7a959c;
$darkgreyish: #2c4950;

$tutoblue: #4b5167;

$lara_background: #ebdac6;
$lara_text: #111625;
$lara_quote: #324251;
$lara_highlight: #e5a87a;

$sam_background: #111625;
$sam_text: #ebdac6;
$sam_quote: #341931;
$sam_highlight: #7A4A60;