* {
    @include box-sizing(border-box);
}

.tr__index {
    width: 100%;
    height: 100%;


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 35px;
        text-transform: uppercase;
        @include tilli-bold;
        letter-spacing: 1px;
    }

    p {
        margin: 0 0 25px;
        font-size: 18px;
        line-height: 1.5;

        @media (min-width: 768px) {
            margin: 0 0 35px;
            font-size: 20px;
            line-height: 1.6;
        }
    }

    a {
        color: $neogreen;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $darkerneogreen;
        }
    }

    i {
        font-style: italic;
    }

    .light {
        font-weight: 400;
    }

    .green {
        color: $neogreen;
    }

    .navbar-custom {
        margin-bottom: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        text-transform: uppercase;
        @include tilli-normal;
        background-color: black;

        @media (min-width: 768px) {

            padding: 20px 0;
            border-bottom: none;
            letter-spacing: 1px;
            background: transparent;
            -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
            -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
            transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        }

        &.top-nav-collapse {
            @media (min-width: 768px) {

                padding: 0;
                background: black;
                border-bottom: 1px solid $neogreen;
            }
        }

        .navbar-toggle {
            color: white;
            background-color: rgba(255, 255, 255, 0.2);
            font-size: 12px;

            &:focus,
            &:active {
                outline: none;
            } 
        }

        .navbar-brand {
            font-weight: 700;

            &:focus {
                outline: none;
            }

            &:hover {
                color: $neogreen;
            }
        }

        a {
            color: white;
        }

        .nav {
            li {
                a {
                    font-size: 18px;
                    font-weight: 700;

                    &:hover {
                        color: $neogreen;
                        outline: none;
                        background-color: transparent; 
                    }

                    &:focus,
                    &:active {
                        outline: none;
                        background-color: transparent; 
                    }
                }

                &.active {
                    outline: none;

                    a {
                        background-color: $neogreen;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .overlay {
        position: absolute;
        width: 100%;
        height:100%;
        background-image: url(../img/overlay.png);
        background-attachment: fixed;
        background-repeat: repeat;
        background-size: 2px 2px;

        top: 0;
        left: 0;
        z-index: 0;

        .intro & {
            background-color: rgba(0,0,0,0.1);
        }

        .story & {
            background-color: rgba(0,0,0,0.3);
        }
    }

    .progressbar {
        position: relative;
        padding: 30px 0;
        text-align: center;
        border-bottom: 1px solid $neogreen;

        .subline {
            margin-top: 15px;
        }

        img {
            margin: 0 auto;

            &.box {

            }

            &.cakes {

            }
        }

        .percent {
            position: absolute;
            bottom: 20px;
            font-size: 36px;
            display: block;
            width: 100%;
            opacity: 0;
            transition: all 2s ease;

            &.visi {
                opacity: 1;
            }
        }
    }

    .reveal {
        overflow: hidden;
        position: relative;
        display: inline-block;
        margin-top: -153px;
        height: auto;
        z-index: -1;

        &:after {
            content: " ";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: black;
            z-index: 1;
            transition: all 2s ease;
        }

        &.visi {
            &:after {
                left: 100%;
            }
        }
    }

    .update__list {
        li {
            font-size: 20px;
            line-height: 1.6;
        }
    }

    .progressbar__inner {
        position: relative;
        margin: 0 auto;
        width: auto;
    }

    .content-section {
        display: table;
        width: 100%;
        height: 100vh;
        padding: 100px 0;
        text-align: center;
        color: white;

        &.intro {
            background: url(../img/header.jpg) no-repeat;
            background-color: black;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            background-position: center;
        }

        &.story {
            position: relative;
            background: url(../img/props.jpg) no-repeat;
            background-color: black;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            background-position: center;
        }


        @media (min-width: 768px) {

            height: 100%;
            padding: 0;
        }
    }

    .content-body {
        display: table-cell;
        vertical-align: middle;

        .intro & {
            padding-bottom: 25px;
            vertical-align: bottom;

            @media (max-width: $screen-tablet) {
                padding-bottom: 0;
            }
        }

        .contact & {
            padding-bottom: 55px;

            @media (max-width: $screen-tablet) {
                padding-bottom: 0;
            }
        }
    }

    .inner-wrapper {
        width: 100%;
        float: left;

        &:last-child {
            margin-top: 20px;

            p {
                margin: 0 0 10px;
            }
        }
    }

    .brand-heading {
        font-size: 40px;
        margin-bottom: 15px;

        @media (min-width: 768px) {
            font-size: 100px;
        }
    }

    .brand-subline {
        margin-bottom: 0;
    }

    .intro-text {
        font-size: 18px;
        margin: 0 0 10px;

        @media (min-width: 768px) {
            font-size: 26px;
        }
    }


    footer {
        padding: 20px 0;
        border-top: 1px solid $neogreen;

        p {
            margin: 0;
        }
    }

    .back-to-top {
        position: fixed;
        bottom:20px;
        right:20px;
        padding:1em;

        span {
            color: white;
            font-size: 35px;
        }
    }

    .shariff {
        margin-bottom: 25px;

        .shariff-button {
            display: inline-block;
            width: 50px;
            height: 50px;
            border: 1px solid $neogreen;
            color: $neogreen;
            margin: 15px 10px;

            a {
                width: 100%;
                height: 100%;
                display: block;

                &:hover {
                    background: $neogreen;
                    color: $black;
                }
            }
            .fa {
                font-size: 35px;
                padding: 7px;
            }
        }
        .share_text {
            display: none !important;
        }
    }

    .gradient{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15px;
        background: rgba(76,76,76,0.5);
        background: -moz-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(0,0,0,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,0)), color-stop(100%, rgba(0,0,0,1)));
        background: -webkit-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(0,0,0,1) 100%);
        background: -o-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(0,0,0,1) 100%);
        background: -ms-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom, rgba(76,76,76,0) 0%, rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#000000', GradientType=0 );

        &.two {
            top: 0;
            bottom: auto;
            background: rgba(0,0,0,1);
            background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(76,76,76,0) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(76,76,76,0)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(76,76,76,0) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(76,76,76,0) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(76,76,76,0) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(76,76,76,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4c4c4c', GradientType=0 );

        }
    }
}


body {

    .tr__index & {
        width: 100%;
        height: 100%;
        @include tilli-normal;
        color: white;
        background-color: black;
        webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    }

}

