* {
    @include box-sizing(border-box);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    background-color: black;
    webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;

    @media (min-width: 768px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #42DCA3;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #1d9b6c;
    }
}

i {
    font-style: italic;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    background-color: black;

    @media (min-width: 768px) {

        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }

    &.top-nav-collapse {
        @media (min-width: 768px) {

            padding: 0;
            background: black;
            border-bottom: 1px solid #42DCA3;
        }
    }

    .navbar-toggle {
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
        font-size: 12px;

        &:focus,
        &:active {
            outline: none;
        } 
    }

    .navbar-brand {
        font-weight: 700;

        &:focus {
            outline: none;
        }

        &:hover {
            color: #42DCA3;
        }
    }

    a {
        color: white;
    }

    .nav {
        li {
            a {
                font-size: 18px;
                font-weight: 700;

                &:hover {
                    color: #42DCA3;
                    outline: none;
                    background-color: transparent; 
                }

                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent; 
                }
            }

            &.active {
                outline: none;

                a {
                    background-color: #42DCA3;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height:100%;
    background-image: url(../img/overlay.png);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 2px 2px;

    top: 0;
    left: 0;
    z-index: 0;

    .intro & {
        background-color: rgba(0,0,0,0.1);
    }

    .story & {
        background-color: rgba(0,0,0,0.3);
    }
}

.content-section {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    text-align: center;
    color: white;

    &.intro {
        background: url(../img/header.jpg) no-repeat;
        background-color: black;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-position: center;
    }

    &.story {
        position: relative;
        background: url(../img/props.jpg) no-repeat;
        background-color: black;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-position: center;
    }

    @media (min-width: 768px) {

        height: 100%;
        padding: 0;
    }
}

.content-body {
    display: table-cell;
    vertical-align: middle;

    .intro & {
        padding-bottom: 25px;
        vertical-align: bottom;
    }

    .story & {}
}

.brand-heading {
    font-size: 40px;
    margin-bottom: 15px;

    @media (min-width: 768px) {
        font-size: 100px;
    }
}

.brand-subline {
    margin-bottom: 0;
}

.intro-text {
    font-size: 18px;
    margin: 0 0 10px;

    @media (min-width: 768px) {
        font-size: 26px;
    }
}


footer {
    padding: 50px 0;
    border-top: 1px solid #42DCA3;

    p {
        margin: 0;
    }
}

.back-to-top {
    position: fixed;
    bottom:20px;
    right:20px;
    padding:1em;

    span {
        color: white;
        font-size: 35px;
    }
}

.shariff {

    .shariff-button {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 1px solid #42DCA3;
        color: #42DCA3;
        margin: 15px 10px;

        a {
            width: 100%;
            height: 100%;
            display: block;

            &:hover {
                background: #42DCA3;
                color: #000000;
            }
        }
        .fa {
            font-size: 35px;
            padding: 7px;
        }
    }
    .share_text {
        display: none !important;
    }
}