
/* ========================================================================== */
// Lightbox stuff //

.trs__lightbox {
    display: none;

    &.featherlight-inner {
        display: block;
    }
}


.trs__lightbox__btn__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
}

.trs__lightbox__btn {
    @extend .squiffy-link;
    margin: 0 15px 20px;

    &.alert {
        background: $dangerred;
        float: right;
        border: 1px solid $dangerred;

        &:hover {
            border: 1px solid $white;
        }
    }
}

.featherlight-loading {

}

.featherlight-reset {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;

    &:last-of-type {
        background: rgba($white, .6);
    }

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
    }
}

.featherlight-reset-content {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    padding: 0 25px;
    border-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    background: $anthrazit;
    cursor: auto;
    white-space: normal;
}

.featherlight-reset-close-icon  {
    position: absolute;
    z-index: 9999;
    top: 5px;
    right: 10px;
    line-height: 25px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    color: $white;
    background: transparent;
    border: 0;
    padding: 0;
}

.featherlight-inner {

    &.trs__lightbox--restartbox {
        width: 500px;
        height: 250px;
        padding: 0 35px;
    }

    &.trs__lightbox--infobox {
        width: 500px;
        height: 350px;
    }

    h2 {
        font-size: 30px;
        line-height: 35px;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 25px;
    }

    p {
        color: $white;
        font-size: 22px;
        line-height: 25px;
        @include tilli-normal;
    }
}