@mixin tilli-normal {
    font-family: 'Titillium Web', Helvetica, Helvetica Neue, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin tilli-bold {
    font-family: 'Titillium Web', Helvetica, Helvetica Neue, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
}

@mixin tilli-normal-italic {
    font-family: 'Titillium Web', Helvetica, Helvetica Neue, Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
}

@mixin tilli-bold-italic {
    font-family: 'Titillium Web', Helvetica, Helvetica Neue, Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
}

@mixin kavi {
    font-family: 'Kavivanar', Helvetica, Helvetica Neue, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}


@mixin vertical-align {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; } 
}