// Index Menu
/* ========================================================================== */
#tr__index__menu {
    text-transform: uppercase;
    background: #4D5B65;
    text-align: left;
    width: auto;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    position: fixed;
    right: 0;
    padding-right: 5em;
    -webkit-transition: all 700ms cubic-bezier(0.46, -0.85, 0, 0.79);
    -moz-transition: all 700ms cubic-bezier(0.46, -0.85, 0, 0.79);
    -o-transition: all 700ms cubic-bezier(0.46, -0.85, 0, 0.79);
    transition: all 700ms cubic-bezier(0.46, -0.85, 0, 0.79);

    .open-menu & {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}


.tr__index__menu__item {
    display: inline-block;
    list-style: none;
    position: relative;
    float: left;
    text-align: center;
}

.tr__index__menu__item__link {
    padding: 1em 1.2em;
    display: block;
    text-decoration: none;
    color: #333;
}


#tr__index__menu__toggle {
    position: fixed;
    padding: 1.1em;
    color: rgba(0, 0, 0, 0);
    right: 0;
    height: 20px;
    width: 30px;
    background: #D1913C;
}


.tr__index__menu__icon-bar {
    background: #fff;
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    margin-top: 4px;
    -webkit-transition: all 700ms cubic-bezier(0.46, -0.85, 0, 0.79);
    -moz-transition: all 700ms cubic-bezier(0.46, -0.85, 0, 0.79);
    -o-transition: all 700ms cubic-bezier(0.46, -0.85, 0, 0.79);
    transition: all 700ms cubic-bezier(0.46, -0.85, 0, 0.79);


    .open-menu & {
        position: absolute;
        bottom: 26px;

        &:first-child {
            opacity: 0;
        }
    }
}


.tr__index__menu__icon-right {

    .open-menu & {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.tr__index__menu__icon-left {

    .open-menu & {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}



// Theme Toggle Switch
/* ========================================================================== */

.tr__themeswitch {
    width: 50px;
    padding: 3px;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    background: transparent;
    border: 2px solid $lara_highlight;

    .dark & {
        border: 2px solid $sam_highlight;
    }
    
    @media (max-width: $screen-phone) {
        background: rgba(0,0,0,0.4);
    }
}

.tr__themeswitch__toggle {
    width: 20px;
    height: 20px;
    background: $lara_highlight;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: relative;
    left: 0;
    -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    -moz-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    -ms-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    -o-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);


    .dark & {
        left: 20px;
        background: $sam_highlight;
    }
}


// Story Menu
/* ========================================================================== */

.tr__menubar {
    position: relative;
    top: 20px;
    width: 50px;
    float: right;
    right: 15px;
    z-index: 3;
    text-align: center;

    &.affix {
        position: fixed;
    }
}


.tr__menu {
    position: absolute;
    border: 2px solid $lara_highlight;
    width: 46px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
    -moz-transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
    -ms-transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
    -o-transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
    transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
    overflow: hidden;
    top: 35px;
    right: 2px;

    .dark & {
        border: 2px solid $sam_highlight;
    }
    
     @media (max-width: $screen-phone) {
        background: rgba(0,0,0,0.4);
    }
}

.tr__menu--closed {
    height: 46px;
}

.tr__menu--open {
    height: 185px;
}

.tr__menu__btn {
    -webkit-transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
    -moz-transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
    -ms-transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
    -o-transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
    transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;

    &:hover {
        span {
            background: $lara_text;

            .dark & {
                background: $sam_text;
            }
        }
    }


    span {
        display: block;
        height: 4px;
        background: $lara_highlight;
        width: 30px;
        left: 6px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        position: absolute;

        &:nth-child(1) {
            top: 11px;

            .tr__menu--open & {
                top: 25px;
                -webkit-transform: rotateZ(45deg);
                -moz-transform: rotateZ(45deg);
                -ms-transform: rotateZ(45deg);
                -o-transform: rotateZ(45deg);
                transform: rotateZ(45deg);
            }
        }

        &:nth-child(2) {
            top: 20px;

            .tr__menu--open & {
                background: transparent;
            }
        }

        &:nth-child(3) {
            top: 29px;

            .tr__menu--open & {
                top: 25px;
                -webkit-transform: rotateZ(-45deg);
                -moz-transform: rotateZ(-45deg);
                -ms-transform: rotateZ(-45deg);
                -o-transform: rotateZ(-45deg);
                transform: rotateZ(-45deg);
            }
        }

        .dark & {
            background-color: $sam_highlight;
        }
    }
}



.tr__menu__tools {
    top: 50px;
    position: relative;
    -webkit-transition: 0.3s margin ease-in-out;
    -moz-transition: 0.3s margin ease-in-out;
    -ms-transition: 0.3s margin ease-in-out;
    -o-transition: 0.3s margin ease-in-out;
    transition: 0.3s margin ease-in-out;
}


.tr__menu__tools--hidden {
    margin-top: 400px;
    z-index: -100;
}

.tr__menu__tools--visible {
    // margin-top: 22%;
    // z-index: 100;
}

.tr__menu__tools__link {
    color: $lara_highlight;
    font-size: 29px;
    background: transparent;
    border: 0;

    .dark & {
        color: $sam_highlight;

        &:hover,
        &:focus {
            color: $sam_text;
            outline: 0;
        }
    }

    &:hover,
    &:focus {
        color: $lara_text;
        outline: 0;
    }
}