.tr__story {
    height: 100%;
    margin: 0;

    @media (min-width: $screen-tablet) {
        font-weight: 100;
    }

    h1 {
        font-size: 3em;
        margin-top: 0;
        @include tilli-bold;
        text-transform: uppercase;
    }

    p {
        font-size: 18px;
        @include tilli-normal;
    }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* =Header */
.header-container {
    text-align: center;
    color: $white;
    overflow: hidden;
    position: relative;

    .wrapper {
        padding-top: 120px;
        z-index: 2;
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -120%);
        -moz-transform: translate(-50%, -120%);
        -ms-transform: translate(-50%, -120%);
        -o-transform: translate(-50%, -120%);
        transform: translate(-50%, -120%);
        margin: 0;

    }
}

.bcg {
    background: no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;

    .header-container & {
        background-image: url(../img/img_mountains01.jpg);
        background-size: cover;
    }

    #slide01 & {
        background: url(https://media.giphy.com/media/DfnPHWhaz5rY4/giphy.gif) no-repeat center center;
        background-size: cover;
    }

    #slide02 & {
        background: url(https://media.giphy.com/media/ps9NJxDQb0pWw/giphy.gif) no-repeat center center;
        background-size: cover;
    }

    #slide03 & {
        background: url(../img/img_mountains04.jpg) no-repeat center center;
        background-size: cover;
        opacity: 0.7;
    }
}

/* =Navigation */

.trs__nav {
    display: block;
    position: fixed;
    left: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right;
    z-index: 100;

    .trs__nav__link {
        display: block;
        line-height: 25px;
        position: relative;
        padding-left: 20px;
        color: $white;
        text-decoration: none;

        &:hover {

            .trs__nav__label {
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.trs__nav__list {
    margin: 0;
    padding: 0;
}

.trs__nav__list__item {
    width: auto;
    list-style: none;
}

.trs__nav__label {
    display: block;
    opacity: 0.5;
    visibility: hidden;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
    transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
}

.trs__nav__dot {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    border: 1px solid $white;

    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;

    .active & {
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.trs__scroll-hint {
    font-size: 30px;
    color: $white;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5px 15px;
    border: 3px $white solid;
    border-radius: 100%;
    @include tilli-bold;
    z-index: 2;
}




/* =Main */

.fs {
    height: 100vh;
}

.slide {
    color: $white;
    position: relative;
    overflow: hidden;


    .wrapper {
        padding-top: 30px;
        text-align: left;
        position: relative;
        z-index: 2;

        &.right {
            text-align: right;
        }
    }

    &#slide01 {

        .wrapper {
            position: absolute;
            top: 10%;
        }
    }

    &#slide02 {

        .wrapper {
            position: absolute;
            bottom: 10%;
        }
    }

    &#slide03 {

        .wrapper {
            padding-top: 100px;
        }
    }

    &#slide04 {
        background-color: rgb(190, 76, 44);
    }
}

/* =Content Block */

.content-block {
    background-color: $anthrazit;
    color: transparentize($white,.1);
    padding: 30px 50px;

    .no-touch & {

        .wrapper {
            visibility: hidden;
            opacity: 0;
        }

        &.is-active {

            .wrapper {
                visibility: visible;
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }

}

/* =Footer */
.footer-container {
    text-align: center;
    font-size: 14px;
    color: transparentize($white,.5);
    background-color: #06060d;

    h3 {
        margin: 0;
        padding: 20px 0;
        font-weight: normal;
    }

    a {
        color: transparentize($white,.5);
    }
}


.textwrap{
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 30px;
}

.imgwrap{
    display: inline-block;
    width: 50%;
    margin: 0;
}

.btnwrap {
    width: 50%;
    display: inline-block;
}

.sqsec {
    transition: all 1s ease-in-out;
}
