.tr__game {
    overflow-y: scroll !important;
}

.tr__story {
    height: 100%;
    margin: 0;

    @media (min-width: $screen-tablet) {
        font-weight: 100;
    }
}

.tr__story__inner {
    &.started {
        padding-bottom: 75px;

        @media (min-widht: 321px) and (max-width: $screen-phone) {
            padding-bottom: 80px;
        }
        
        @media (max-width: 320px) {
        padding-bottom: 90px;
        }
    }
}


.tr__bcg {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
}

.tr__bookcover {
    text-align: center;
    color: $white;
    overflow: hidden;
    position: relative;
    height: 100vh;
    opacity: 1!important;
}

.tr__bookcover__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/overlay.png);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 2px 2px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 2;
}

.tr__bookcover__wrapper {
    padding-top: 120px;
    z-index: 2;
    position: relative;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -120%);
    -moz-transform: translate(-50%, -120%);
    -ms-transform: translate(-50%, -120%);
    -o-transform: translate(-50%, -120%);
    transform: translate(-50%, -120%);
    margin: 0;
}

.tr__bookcover__para {
    color: $white;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
    @include tilli-bold;
    letter-spacing: 1px;
    text-transform: uppercase;

    @media (max-width: $screen-phone) {
        font-size: 18px;
        line-height: 22px;
    }
}

.tr__bookcover__para--mobile {
    @extend .tr__bookcover__para;
    margin: 0 auto 10px;
    max-width: 250px;
}

.tr__bookcover__bcg {
    @extend .tr__bcg;
    background-image: url(../img/story/familyfodo_header.jpg);
}

.tr__introductionblock {
    width: 45%;
    margin: 0 auto;
    position: relative;
    bottom: 120px;

    @media (max-width: $screen-tablet) {
        width: 100%;
    }
}


.tr__slide01__bcg {
    @extend .tr__bcg;
}

.tr__slide02__bcg {
    @extend .tr__bcg;
}



.tr__slide {
    color: $lara_text;
    position: relative;
    overflow: hidden;

    .dark & {
        color: $sam_text;
    }

    &.fs {
        height: 100vh;
    }

    &.qt {
        height: 400px;
        overflow: visible;
    }
}

.tr__slide__wrapper {
    padding-top: 30px;
    text-align: left;
    position: relative;
    z-index: 2;

    &.right {
        text-align: right;
    }
}



.tr__slide01__wrapper {
    @extend .tr__slide__wrapper;

    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    text-align: center;
    @include vertical-align;
}

.tr__slide02__wrapper {
    @extend .tr__slide__wrapper;

    position: absolute;
    bottom: 10%;
}


/* =Content Block */

.tr__contentblock {
    background-color: $lara_background;
    color: $lara_text;
    padding: 90px 50px;

    @media (max-width: $screen-phone) {
        padding: 30px 20px;
    }

    .dark & {
        background-color: $sam_background;
        color: $sam_text;
    }

    .no-touch & {

        .tr__contentblock__wrapper {
            visibility: hidden;
            opacity: 0;
        }

        &.is-active {

            .tr__contentblock__wrapper {
                visibility: visible;
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }

}


/* ========================================================================== */

// Section elements  //
.tr__chapter__header {
    margin: auto;
    max-width: 72em;
}

.tr__chapter__section {
    margin: auto;
    max-width: 72em;
}

.tr__textwrap {
    display: inline-block;
}

.tr__textwrap--full {
    display: block;
    width: 100%;
}

.tr__imgwrap {
    display: inline-block;
    margin: 0;

    img {
        width: 100%;
    }
}

.tr__btnwrap {
    width: 100%;
    display: inline-block;
}

.tr__question {
    @include tilli-semibold;
    margin-bottom: 20px;

    .tr__icon {
        margin-right: 15px;
    }
}


/* ========================================================================== */

// Quote Block Stuff //
.tr__quote {
    width: 60%;
    margin: 0 auto;
    padding: 20px 50px;
    border: 1px solid $lara_highlight;
    position: relative;

    @media (min-width: $screen-phone) and (max-width: $screen-tablet) {
        width: 80%;
    }

    @media (max-width: $screen-phone) {
        width: 90%;
          padding: 20px 15px;
    }

    .dark & {
        border: 1px solid $sam_highlight;
    }

    &:before {
        content: '\f10d';
        font-family: 'fontawesome';
        color: $lara_highlight;
        font-size: 50px;
        position: absolute;
        left: -35px;
        top: -35px;
        background: $lara_quote;
        padding: 15px;

        .dark & {
            color: $sam_highlight;
            background: $sam_quote;
        }

        @media (max-width: $screen-phone) {
            font-size: 30px;
            left: -10px;
            top: -45px;
              padding: 10px;
        }
    }

    &:after {
        content: '\f10e';
        font-family: 'fontawesome';
        color: $lara_highlight;
        font-size: 50px;
        position: absolute;
        right: -35px;
        bottom: -35px;
        background: $lara_quote;
        padding: 15px;

        .dark & {
            color: $sam_highlight;
            background: $sam_quote;
        }

        @media (max-width: $screen-phone) {
            font-size: 30px;
            right: -10px;
            bottom: -45px;
              padding: 10px;
        }
    }
}


.tr__quote__icon {
    border: 2px solid $lara_highlight;
    color: $lara_highlight;
    font-size: 35px;
    position: absolute;
    padding: 10px;
    border-radius: 100%;
    left: 20px;
    z-index: 1;
    top: -35px;

    @media (min-width: $screen-phone) and (max-width: $screen-tablet) {
        top: -10px;
    }
    
      @media (max-width: $screen-phone) {
          top: 0;
    }

    .angled-both-right-left & {
        right: 20px;
        left: auto;
    }

    .dark & {
        color: $sam_highlight;
        border: 2px solid $sam_highlight;
    }
}

.tr__quote__para {
    color: $lara_highlight;
    font-size: 30px;
    line-height: 40px;
    @include tilli-bold-italic;


    @media (min-width: $screen-phone) and (max-width: $screen-tablet) {
        font-size: 25px;
        line-height: 35px;
    }

    @media (max-width: $screen-phone) {
        font-size: 18px;
        line-height: 22px;
    }

    .thanks & {
        font-size: 23px;
        line-height: 33px;

        @media (min-width: $screen-phone) and (max-width: $screen-tablet) {
            font-size: 20px;
            line-height: 30px;
        }

        @media (max-width: $screen-phone) {
            font-size: 16px;
            line-height: 20px;
        }

        a {
            text-decoration: underline;
            color: $lara_highlight;

            .dark & {
                color: $sam_highlight;
            }
        }
    }

    .dark & {
        color: $sam_highlight;
    }
}


/* ========================================================================== */

// Render Polaroid Stuff //
.tr__polaroid__link {
    display: block;
    z-index: 1;
    position: relative;
}

.tr__polaroid {
    width: 350px;
    height: 400px;
    position: relative;
    float: left;
    background: $anthrazit;
    border: 7px solid $white;
    border-bottom: 50px solid $white;
    box-shadow: 8px 13px 20px 0 $black;
    overflow: hidden;
    left: 0;
    clear: both;

    @media (max-width: $screen-phone) {

        display: block;
        width: 100%;
        height: 100%;
    }

    &.flash {
        -webkit-animation: fade-in 3s ease-in;
        -moz-animation: fade-in 3s ease-in;
        -o-animation: fade-in 3s ease-in;
        animation: fade-in 3s ease-in;
        -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        -o-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }

    &.left {
        margin: 30px 50px 30px -20px;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        transform: rotate(-3deg);
        box-shadow: -8px 13px 20px 0 $black;


        @media (min-width: $screen-phone) and (max-width: $screen-desktop) {
            margin: 30px 40px 30px -5px;
        }

        @media (max-width: $screen-phone) {
            margin: 0 0 20px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }

    &.right {
        margin: 30px -20px 30px 50px;
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        transform: rotate(3deg);
        float: right;

        @media (min-width: $screen-phone) and (max-width: $screen-desktop) {
            margin: 30px -5px 30px 40px;
        }

        @media (max-width: $screen-phone) {
            margin: 0 0 20px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }

    img {
        width: 100%;

    }
}


/* ========================================================================== */

// Movie Gif Stuff //
.tr__movie__wrapper {
    background-color: $anthrazit;
    height: 350px;
    width: auto;
    margin: auto;

    @media (max-width: $screen-phone) {
        height: 250px;
    }


    &.left {
        margin: 30px 50px 30px -20px;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        transform: rotate(-3deg);
        box-shadow: -8px 13px 20px 0 $black;

        @media (max-width: $screen-phone) {
            margin: 0 0 20px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }

    &.right {
        margin: 30px -20px 30px 50px;
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        transform: rotate(3deg);
        float: right;

        @media (max-width: $screen-phone) {
            margin: 0 0 20px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }

}

.tr__moviebox__link {
    position: relative;
    z-index: 1;
}

.tr__movie__box {
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: auto;
    overflow: hidden;
}

.tr__movie__boxes {
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-align: center;
}

.tr__movie__small_box {
    background-color: $white;
    display: inline-block;
    width: 25px;
    height: 20px;
    margin: 10px 10.5px 10px 10.5px;
}

.tr__movie__center_box {
    width: 100%;
    height: calc(100% - 80px);
    background-size: cover;
    margin: auto;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-animation: load 1s linear;
    -o-animation: load 1s linear;
    animation: load 1s linear;

    &:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.75;
    }

    &.carkiss__yes {
        background: url(/img/story/carkiss_yes_preset.jpg) center center no-repeat;
    }

    &.carkiss__no {
        background: url(/img/story/carkiss_no_preset.jpg) center center no-repeat;
    }

    &.tutorial {
        background: url(/img/tutorial/jaffabiscake.jpg) center center no-repeat;
    }
}