.tr__story {
    height: 100%;
    margin: 0; 

    @media (min-width: $screen-tablet) {
        font-weight: 100;
    }


    h1 {
        font-size: 3em;
        margin-top: 0;
        @include tilli-bold;
        text-transform: uppercase;
    }

    p {
        font-size: 18px;
        @include tilli-normal;
    }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* =Header */
.header-container {
    text-align: center;
    color: $white;
    .wrapper {
        padding-top: 120px;
        z-index: 2;
        position: relative;
    }
}

.bcg {
    background: no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    .header-container & {
        background-image: url(../img/img_mountains01.jpg);
        background-size: cover;
    }
    #slide01 & {
        background: url(https://media.giphy.com/media/DfnPHWhaz5rY4/giphy.gif) no-repeat center center;
        background-size: cover;
    }
    #slide02 & {
        background: url(https://media.giphy.com/media/ps9NJxDQb0pWw/giphy.gif) no-repeat center center;
        background-size: cover;
    }
    #slide03 & {
        background: url(../img/img_mountains04.jpg) no-repeat center center;
        background-size: cover;
        opacity: 0.7;
    }
}

/* =Navigation */
.trs__nav {
    display: block;
    position: fixed;
    left: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right;
    z-index: 100; 

    .trs__nav__link {
        display: block;
        line-height: 25px;
        position: relative;
        padding-left: 20px;
        color: $white;
        text-decoration: none;

        &:hover {
            .trs__nav__label {
                -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
                visibility: visible; 
            }
        }
    }
}

.trs__nav__list {
    margin: 0;
    padding: 0;
}

.trs__nav__list__item {
    width: auto;
    list-style: none;
}

.trs__nav__label {
    display: block;
    opacity: 0.5;
    visibility: hidden;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
    transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
}

.trs__nav__dot {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    border: 1px solid $white;

    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; 

    .active & {
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.trs__scroll-hint {
    font-size: 30px;
    color: $white;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5px 15px;
    border: 3px $white solid;
    border-radius: 100%;
    @include tilli-bold;
    z-index: 2; 
}


    

/* =Main */

.fs {
    height: 100vh;
}

.slide {
    color: $white;
    position: relative;
    .wrapper {
        padding-top: 30px;
        text-align: center;
        position: relative;
        z-index: 2;
    }
    &#slide01 {
        .wrapper {
            position: absolute;
            top: 10%;
        }
    }
    &#slide02 {
        .wrapper {
            position: absolute;
            bottom: 10%;
        }
    }
    &#slide03 {
        .button {
            border-color: $white;
            color: $anthrazit;
            background-color: rgba(255,255,255,0.9);
            &:hover {
                border-color: $anthrazit;
                background-color: $anthrazit;
                color: $white;
            }
        }
        .wrapper {
            padding-top: 100px;
        }
    }
    &#slide04 {
        background-color: rgb(190, 76, 44);
    }
}

/* =Content Block */
.content-block {
    background-color: $anthrazit;
    color: transparentize($white,.1);
    .wrapper {
        padding: 30px 0;
        text-align: center;
    }
    .no-touch & {
        .wrapper {
            visibility: hidden;
            opacity: 0;
        }
        &.is-active {
            .wrapper {
                visibility: visible;
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }

}

/* =Footer */
.footer-container {
    text-align: center;
    font-size: 14px;
    color: transparentize($white,.5);
    background-color: #06060d;
    h3 {
        margin: 0;
        padding: 20px 0;
        font-weight: normal;
    }
    a {
        color: transparentize($white,.5);
    }
}

/* =Simple animation up */
.slideInUp {
    .no-touch & {
        visibility: hidden;
        opacity: 0;
        transition: all 0.7s ease-out;

        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0);
    }
    .no-touch .is-active & {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    &.slideInUp2{transition-delay: 0.2s;}
    &.slideInUp3{transition-delay: 0.4s;}
}



/* ==========================================================================
   Media Queries
   ========================================================================== */



@media only screen and (min-width: 768px) {
    body {
        font-weight: 100;
    }
    h1 {
        font-size: 3em;
    }
    p { font-size: 20px; }
    /* =Header */
    .header-container {
        overflow: hidden;
        position: relative;
        .wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -120%);
            margin: 0;
            padding: 0;
        }
        &:before {
            font-size: 70em;
        }
    }
    .scroll-hint {
        font-size: 20px;
    }
    .bcg {
        opacity: 1;
    }
    .slide {
        overflow: hidden;
        section {
            max-width: 400px;
        }
        overflow-x: hidden;
        .wrapper {
            padding-top: 120px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: left;
            width: 100%;
            margin: 0;
        }
        &#slide01,
        &#slide02,
        &#slide03 {
            color: $anthrazit;
            .wrapper {
                top: 20%;
                text-align: center;
            }
            section {
                margin: 0 auto;
            }
        }
        &#slide01 {
            color: $white;
        }
        &#slide02 {
            color: $white;
            .wrapper {
                top: auto;
                bottom: 40%;
                left: 10%;
                text-align: left;
                transform: translate(0);
                padding: 0;
            }
            section {
                margin: 0;
            }
        }
        &#slide03 {
            .wrapper {
                padding: 0;
                top: 15%;
                transform: translate(-50%, 0);
            }
            section {
                margin: 0 auto;
                max-width: 570px;
            }
            .button {
                border-color: transparentize($black,.3);
                background-color: transparent;
                color: $anthrazit;
            }
            .bcg {
                opacity: 1;
            }
        }
    }
    nav {
        display: block;
    }
    .content-block {
        .wrapper {
            padding: 120px 0;
        }
    }
}



.textwrap{
    display: inline-block;
    width: 50%;
    margin: 0;
}

.imgwrap{
        display: inline-block;
    width: 50%;
    margin: 0;
}
.btnwrap {
        width: 50%;
    margin: 0 5%;
    display: inline-block;
}

.sqsec {
    transition: all 1s ease-in-out;
}
