.squiffy-link {
    @extend .btn;
    @extend .btn-default;
}

.squiffy-link.disabled {
    display: none;
}

.squiffy-header-link {
    z-index: 3;
    position: fixed;
    right: 20px;
    top: 20px;
    background: #57baff;
    color: white;
    text-transform: uppercase;
    border-radius: 100%;
    border: 1px solid #57baff;
    @include tilli-bold;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 25px;
    padding: 11px 13px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);

    &:hover {
        color: $white;
        background: #57baff;
        border: 1px solid #57baff;
        text-decoration: none;
    }
}