.squiffy-link {
    color: $lara_text;
    font-size: 18px;
    padding: 10px;
    border: 3px solid $lara_text;
    -webkit-border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    -moz-border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    background: transparent;
    @include tilli-bold;
    margin-right: 15px;
    cursor: pointer;
    text-transform: uppercase;
    display:inline-block;
    min-width: 130px;
    text-align: center;
    letter-spacing: 2px;

    .dark & {
        color: $sam_text;
        border: 3px solid $sam_text;

        &:hover {
            text-decoration: none;
            color: $sam_background;
            background: $sam_text;
            box-shadow: 5px 8px 10px 0px rgba(0, 0, 0, 0.3);
        }
    }

    &.first {
        color: $white;
        border: 3px solid $white;

        &:hover {
            background: $white;
            color: $black;
            border: 3px solid $white;
        }
    }

    &:hover {
        text-decoration: none;
        color: $lara_background;
        background: $lara_text;
        box-shadow: 5px 8px 10px 0px rgba(0, 0, 0, 0.3);
    }

    &.invisible {
        opacity: 0;
    }
}

.squiffy-link.disabled {
    display: none;
}

.squiffy-header-link {
    z-index: 3;
    position: fixed;
    right: 20px;
    top: 20px;
    background: $anthrazit;
    color: white;
    text-transform: uppercase;
    border-radius: 100%;
    border: 1px solid $anthrazit;
    @include tilli-bold;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 25px;
    padding: 11px 13px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);

    &:hover {
        color: $white;
        background: $anthrazit;
        border: 1px solid $anthrazit;
        text-decoration: none;
    }
}


#squiffy-section-1 {
    overflow: visible !important;
    text-align: center;
    width: 100%;
    z-index: 3;
    height: auto !important;
    bottom: 0;
    position: absolute;

    a {
        margin: 0 0 30px;
        font-size: 20px;
    }
}

