.tr__tutorial__header,
.tr__tutorial__footer {
    position: relative;
    background: $lara_quote;
    padding: 20px 0;
    height: 100vh;
    text-align: center;

    .dark & {
        background: $sam_quote;
    }

    @media (min-width: $screen-phone) {
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}

.tr__tutorial__header__inner,
.tr__tutorial__footer__inner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
}

.tr__tutorial__header__logo {
    margin: 0 auto 80px;

    @media (max-width: $screen-phone) {
        margin: 0 auto 15px;
    }

    img {
        margin: 0 auto;
        width: 65%;

        @media (max-width: $screen-phone) {
            width: auto;
        }
    }
}

.tr__tutorial__header__images,
.tr__tutorial__footer__images {
    padding: 0;
    margin: 20px 0;
}

.tr__tutorial__header__title {
    font-size: 42px;
    line-height: 45px;
    margin-top: 50px;
    @include tilli-semibold;
    text-transform: uppercase;
    color: $white;

    @media (min-width: 321px) and (max-width: $screen-phone) {
        font-size: 26px;
        line-height: 30px;
        margin-top: 30px;
    }

    @media (max-width: 320px) {
        font-size: 22px;
        line-height: 25px;
        margin-top: 20px;
    }

}

.tr__tutorial__jaffa {

    .jc {
        float: right;
        @media (max-width: $screen-phone) {
            float: left;
            width: 75%;
        }

        .tr__tutorial__footer & {
            float: left;
            width: 75%;
            
            @media (max-width: $screen-phone) {
            float: right;
            }
        }
    }
}

.tr__tutorial__bubble {

    img {
        width: 90%;
        margin-top: -10%;

        .tr__tutorial__footer & {
            float: right;
        }
    }
}

.tr__tutorial__bubble--mobile {
    width: 85%;
    float: right;
    margin-bottom: 15px;
    
    .tr__tutorial__footer & {
    float: left;
    }
}

.tr__tutorial__btn {
    margin: 50px 0;

    @media (max-width: $screen-phone) {
        margin: 0;
        
         .tr__tutorial__footer & {
        margin-top: 20px;
        }
    }
}

.tr__tutorial__credit {
    position: absolute;
    right: -45px;
    bottom: 12%;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    color: rgba(255, 255, 255, 0.3);
    font-size: 13px;

     &:hover {
         color: rgba(255, 255, 255, 0.3);
     }
    
     @media (max-width: $screen-phone) {
       bottom: 20%;
    }
}


// Enjoyhint Styles
/* ========================================================================== */

.enjoyhint {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1010;
    pointer-events: none;
    overflow: hidden;
}

.enjoyhint_hide {
    display: none;
}

.enjoyhint_disable_events {
    position: absolute;
    width: 2000px;
    height: 1500px;
    z-index: 1011;
    pointer-events: all;
}

.enjoyhint_next_btn,
.enjoyhint_skip_btn {
    -webkit-box-sizing: content-box;
    width: 100px;
    height: 40px;
    @include tilli-semibold;
    cursor: pointer;
    margin: 0 auto;
    letter-spacing: 1px;
    text-align: center;
}

.enjoyhint_close_btn,
.enjoyhint_next_btn,
.enjoyhint_skip_btn {
    z-index: 1012;
    pointer-events: all;
    -o-text-overflow: clip;
    text-overflow: clip;
    -moz-box-sizing: content-box;
}

.enjoyhint_next_btn {
    position: absolute;
    box-sizing: content-box;
    border: 3px solid $white;
    -webkit-border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    -moz-border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    color: $white;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background-color .3s cubic-bezier(0, 0, 0, 0), color .3s cubic-bezier(0, 0, 0, 0), width .3s cubic-bezier(0, 0, 0, 0), border-width .3s cubic-bezier(0, 0, 0, 0), border-color .3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color .3s cubic-bezier(0, 0, 0, 0), color .3s cubic-bezier(0, 0, 0, 0), width .3s cubic-bezier(0, 0, 0, 0), border-width .3s cubic-bezier(0, 0, 0, 0), border-color .3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color .3s cubic-bezier(0, 0, 0, 0), color .3s cubic-bezier(0, 0, 0, 0), width .3s cubic-bezier(0, 0, 0, 0), border-width .3s cubic-bezier(0, 0, 0, 0), border-color .3s cubic-bezier(0, 0, 0, 0);
    transition: background-color .3s cubic-bezier(0, 0, 0, 0), color .3s cubic-bezier(0, 0, 0, 0), width .3s cubic-bezier(0, 0, 0, 0), border-width .3s cubic-bezier(0, 0, 0, 0), border-color .3s cubic-bezier(0, 0, 0, 0);
    font-size: 22px;
    padding: 5px 10px 0;

    &:hover {
        color: $black;
        background: $white;
    }

    &:active {
        border: 3px solid $white;
        background: $white;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.enjoyhint_skip_btn {
    box-sizing: content-box;
    border: 3px solid $white;
    -webkit-border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    -moz-border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    color: $white;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background-color .3s cubic-bezier(0, 0, 0, 0), color .3s cubic-bezier(0, 0, 0, 0), width .3s cubic-bezier(0, 0, 0, 0), border-width .3s cubic-bezier(0, 0, 0, 0), border-color .3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color .3s cubic-bezier(0, 0, 0, 0), color .3s cubic-bezier(0, 0, 0, 0), width .3s cubic-bezier(0, 0, 0, 0), border-width .3s cubic-bezier(0, 0, 0, 0), border-color .3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color .3s cubic-bezier(0, 0, 0, 0), color .3s cubic-bezier(0, 0, 0, 0), width .3s cubic-bezier(0, 0, 0, 0), border-width .3s cubic-bezier(0, 0, 0, 0), border-color .3s cubic-bezier(0, 0, 0, 0);
    transition: background-color .3s cubic-bezier(0, 0, 0, 0), color .3s cubic-bezier(0, 0, 0, 0), width .3s cubic-bezier(0, 0, 0, 0), border-width .3s cubic-bezier(0, 0, 0, 0), border-color .3s cubic-bezier(0, 0, 0, 0);
    font-size: 22px;
    padding: 5px 10px 0;

    &:hover {
        color: $black;
        background: $white;
    }

    &:active {
        border: 3px solid $white;
        background: $white;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.enjoyhint_close_btn {
    display: inline-block;
    position: absolute;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: .3em;
    height: .3em;
    -webkit-border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    -moz-border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    @include tilli-semibold;
    color: rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 0);
    border: 3px solid $white;

    &:after {
        -webkit-box-sizing: content-box;
        width: 73%;
        height: 2px;
        position: absolute;
        content: "";
        border: none;
        @include tilli-semibold;
        color: rgba(0, 0, 0, 1);
        background: $white;
        text-shadow: none;
        -o-text-overflow: clip;
        text-overflow: clip;
        display: inline-block;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        top: 46%;
        left: 15%;
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
    }

    &:before {
        -webkit-box-sizing: content-box;
        width: 73%;
        height: 2px;
        position: absolute;
        content: "";
        border: none;
        @include tilli-semibold;
        color: rgba(0, 0, 0, 1);
        background: $white;
        text-shadow: none;
        -o-text-overflow: clip;
        text-overflow: clip;
        display: inline-block;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        top: 48%;
        left: 14%;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
    }

    &:hover {
        color: rgba(255, 255, 255, 1);
        background: $white;
        cursor: pointer;
    }

    &:active {
        border: 3px solid $white;
        background: $white;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.enjoyhint_btn {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
    border: 3px solid $white;
    -webkit-border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    -moz-border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    @include tilli-semibold;
    color: $white;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background-color .3s cubic-bezier(0, 0, 0, 0), color .3s cubic-bezier(0, 0, 0, 0), width .3s cubic-bezier(0, 0, 0, 0), border-width .3s cubic-bezier(0, 0, 0, 0), border-color .3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color .3s cubic-bezier(0, 0, 0, 0), color .3s cubic-bezier(0, 0, 0, 0), width .3s cubic-bezier(0, 0, 0, 0), border-width .3s cubic-bezier(0, 0, 0, 0), border-color .3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color .3s cubic-bezier(0, 0, 0, 0), color .3s cubic-bezier(0, 0, 0, 0), width .3s cubic-bezier(0, 0, 0, 0), border-width .3s cubic-bezier(0, 0, 0, 0), border-color .3s cubic-bezier(0, 0, 0, 0);
    transition: background-color .3s cubic-bezier(0, 0, 0, 0), color .3s cubic-bezier(0, 0, 0, 0), width .3s cubic-bezier(0, 0, 0, 0), border-width .3s cubic-bezier(0, 0, 0, 0), border-color .3s cubic-bezier(0, 0, 0, 0);

    &:hover {
        color: $black;
        background: $white;
    }

    &:active {
        border: 3px solid $white;
        background: $white;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }

}

#kinetic_container,
.enjoyhint_canvas,
.enjoyhint_svg_wrapper,
.enjoyhint_svg_wrapper svg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.enjoyhint div.canvas-container {
    position: absolute;
}

.enjoyhint_canvas {
    z-index: 100;
    pointer-events: none;
}

#kinetic_container {
    pointer-events: none;
    top: 0;
    left: 0;
}

.enjoyhint_svg_wrapper {
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-transition: opacity .4s cubic-bezier(.42, 0, .58, 1);
    -moz-transition: opacity .4s cubic-bezier(.42, 0, .58, 1);
    transition: opacity .4s cubic-bezier(.42, 0, .58, 1);

    svg {
        top: 0;
        left: 0;
    }
}

.enjoyhint_svg_transparent .enjoy_hint_label,
.enjoyhint_svg_transparent .enjoyhint_svg_wrapper {
    opacity: 0;
}

.enjoy_hint_label {
    position: absolute;
    color: $white;
    z-index: 107;
    font-size: 22px;
    @include tilli-semibold;
    -webkit-transition: opacity .4s cubic-bezier(.42, 0, .58, 1);
    -moz-transition: opacity .4s cubic-bezier(.42, 0, .58, 1);
    transition: opacity .4s cubic-bezier(.42, 0, .58, 1);
    display: inline-block;
    min-width: 200px;
    text-align: center;
    max-width: 80%;
}

div.kineticjs-content {
    position: absolute!important;
}

.enjoyhint_skip_btn {
    position: fixed;
}

.enjoyhint_quit {
    @extend .enjoyhint_next_btn;
    width: auto;
}