$white: #ffffff;
$black: #000000;
$neogreen: #42DCA3;
$darkerneogreen: #1d9b6c;


$turq: #308C9B;
$turqdark: #19474d;
$orange: #EC9A46;
$anthrazit: #212121;


@mixin tilli-normal {
    font-family: 'Titillium Web', Helvetica, Helvetica Neue, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin tilli-bold {
    font-family: 'Titillium Web', Helvetica, Helvetica Neue, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
}

@mixin tilli-normal-italic {
    font-family: 'Titillium Web', Helvetica, Helvetica Neue, Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
}

@mixin tilli-bold-italic {
    font-family: 'Titillium Web', Helvetica, Helvetica Neue, Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
}


@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; } 
}